.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--backdrop-color);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  position: relative;
  background-color: var(--white);
  border-radius: 20px;
  padding: 40px;
  max-height: 90vh;
  overflow-y: auto;
  width: calc(100% - 40px);
  max-width: 982px;
}

.closeButton {
  position: absolute;
  top: 20px;
  right: 20px;
  color: var(--main-black);
  transition: color var(--transition-duration) var(--transition-timing-function), transform var(--transition-duration) var(--transition-timing-function);
}

.closeButton:hover,
.closeButton:focus {
  color: var(--primary-red);
  transform: rotate(90deg);
}
