.form {
  width: 360px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.label {
  color: var(--secondary-black);
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
  display: block;
}

.inputWrapper {
  position: relative;
}

.locationIcon {
    position: absolute;
    top: 50%;
    left: 18px;
    transform: translateY(-50%);
    width: 18px;
    height: 20px;
    fill: none;
    stroke: var(--main-black);
}

.input {
  width: 100%;
  padding: 18px 18px 18px 44px;
  background-color: var(--background-grey);
  border: none;
  border-radius: 10px;
  font-size: 16px;
  color: var(--main-black);
}

.input::placeholder {
  color: var(--secondary-black);
}

.sectionTitle {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--border-color);
}

.checkboxGrid,
.radioGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.checkboxLabel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  transition: border-color var(--transition-duration) var(--transition-timing-function);
  height: 95px;
  font-weight: 500;
}

.checkboxLabel:hover {
  border-color: var(--primary-red-hover);
}

.checkboxInput {
  display: none;
}

.checked {
  border-color: var(--primary-red);
}

.checkboxIcon {
  width: 32px;
  height: 32px;
  stroke: var(--main-black);
  fill: none;
}
